$whats-app-background-gray: #ededed;
$whats-app-background-light-gray: #f6f6f6;
$whats-app-blue-light: #00a5f4;
$whats-app-green-color: #07bc4c;
$whats-chat-message-background-green-color: #dcf8c6;

$box-shadow-color: rgba(0,0,0,0.08);