@import 'styles/colors';
.chatHeader{
    display: flex;
    padding: 0.8rem;
    background-color: $whats-app-background-gray;

    .chatHeader__info{
        flex: 1;
        padding-left: 1rem;
        h3{
            font-weight: 500;
            margin-bottom: 5px;
        }
        p{
            color: gray;
            font-size: small;
        }
    }
    .chatHeader__icons{
        display: flex;
        justify-content: space-between;
        min-width: 100px;
    }
}